<!DOCTYPE html>
<html>
{% include head.html %}

<body class="zh_CN mm_appmsg">
  <div class="rich_media">
    <div class="rich_media_inner">
      <div>

        <div class="rich_media_area_primary">

          <h2 class="rich_media_title"><img style="height: 24px;" src="{{ '/assets/logo.png' | relative_url }}" />{{ site.title }}</h2>
          <div class="rich_media_meta_list">
            <em class="rich_media_meta rich_media_meta_text">{{ site.data.newslist.lastBuildDate }}</em>
          </div>
          <div class="rich_media_content">

            <p>
              <audio id="player" class="fullwidth" controls style="margin:20px 0; width:100%"></audio>
            </p>

            <div class="newslist">
              {% for item in site.data.newslist.news %}
              <a class="card" href="#" onclick="return play(this)" data-id="{{ item.id }}">
                <h2 class="newstitle">{{ item.title }}</h2>
                <p class="newsdate" style="float: right;">{{item.duration}}</p>
                <p class="newsdate">{{ item.startdate }}</p>
              </a>
              {% endfor %}
            </div>

          </div>

          <div class="rich_media_tool">
            <a class="media_tool_meta meta_primary" href="{{ site.source_url }}" target="_blank">閲読原文</a>
          </div>
        </div>

        <div class="rich_media_area_extra">
          <div class="mpda_bottom_container">
            {% include adsense_radionews.html %}
          </div>
        </div>

      </div>
    </div>
  </div>

  <script type="text/javascript">
    function geturl(id) {
      return 'http://www.nhk.or.jp/r-news/ondemand/mp3/' + id + '.mp3'
    }

    var playing = null;
    var playlist = document.getElementsByClassName('card');

    var player = document.getElementById('player');
    player.load();

    var repeat_one = false;
    player.onended = function() {
      if (repeat_one) {
        player.play();
      } else {
        var next = playing.nextElementSibling || playlist[0];
        play(next);
      }
    }
    player.onplay = function(e) {
      playing.classList.add("playing");
    }

    function play(el) {
      if (el != playing) {
        var last = playing;
        playing = el;
        player.src = geturl(playing.dataset.id);
        player.load();

        if (last) {
          last.classList.remove("playing");
        }
      }

      if (player.paused) {
        player.play();
      }

      return false;
    }

    play(playlist[0]);
  </script>

</body>

</html>